// This is used for components that doesnt need to grow his width infinitely
$max-width: clamp(1200px, 90dvw, 1500px);
$padding: 32px clamp(64px, 7.5dvw, 120px);


.header {
    padding: $padding;
    background-color: var(--black-700);
    color: var(--white-900);
    border-radius: 0 0 24px 24px;
    position: sticky;
    top: 0;
    z-index: 1;

    @media screen and (max-width: 792px) {
        padding-inline: clamp(32px, 5dvw, 64px);
    }


    &__container {
        display: grid;
        max-width: $max-width;
        grid-template-columns: 160px auto 120px;
        margin: 0 auto;
    }

    &__logo {
        font-family: "Space Mono", monospace;
        font-weight: 700;
        user-select: none;
        font-size: 1.65rem;
    }

    &__nav {
        display: grid;
        place-items: center;

        @media screen and (max-width: 1026px){
            
        }
    }

    &__link {
        transition: color .2s ease;
        position: relative;
        text-wrap: nowrap;

        &--active {
            color: var(--orange-500);
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 24px;
        text-transform: uppercase;
        font-size: .85rem;
        animation: fade-in .3s ease;


        @keyframes fade-in {
            from {
                opacity: 0;
                transform: translateY(8px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &__button {
        cursor: pointer;
        aspect-ratio: 1;
        padding: 8px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        justify-self: flex-end;
        transition: background-color .2s ease;

        @media (hover:hover) {
            &:hover {
                background-color: var(--black-600);
            }
        }
    }
}

.content {
    background-color: var(--neutral-100);
    padding: $padding;
    position: relative;


    @media screen and (max-width: 792px) {
        padding-inline: clamp(32px, 5dvw, 64px);
    }

    &::before {
        content: "";
        background-color: var(--neutral-100);
        width: 100%;
        position: absolute;
        height: 100px;
        bottom: 100%;
        left: 0;
    }


    &__container {
        max-width: $max-width;
        margin: 0 auto;
        min-height: calc(100dvh - 102px);
    }
}