<header class="header">
    <div class="header__container">
        <h1 class="header__logo">BestShop</h1>

        <nav class="header__nav">
            @if (categories().length > 0) {
            <ul class="header__list">
                <li>
                    <a [routerLink]="'/home'" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="header__link--active" class="header__link">Home</a>
                </li>

                @for (category of categories(); track $index) {
                <li>
                    <a [routerLink]="'category/' + category" routerLinkActive="header__link--active"
                        class="header__link">{{category}}</a>
                </li>
                }
            </ul>
            }
        </nav>

        <button class="header__button" (click)="toggleOpenCart()">
            <!-- TODO: AGREGAR EL NUMERO DE UNIDADES ACA COMO EN AUDIOPHILE -->
            <lucide-angular [img]="ShoppingCartIcon" [size]="22"></lucide-angular>
        </button>
    </div>
    <purchase-shopping-cart [isVisible]="isCartOpen" (close)="toggleOpenCart()"></purchase-shopping-cart>
</header>

<main class="content">
    <div class="content__container">
        <router-outlet />
    </div>
</main>