<header class="header">
    <div class="header__container">
        <h1 class="header__logo">BestShop</h1>

        <nav class="header__nav"
        
        [ngClass]="{'header__nav--active': isMenuActive}">
            @if (categories().length > 0) {
            <ul class="header__list">
                <li>
                    <a [routerLink]="'/home'" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="header__link--active" class="header__link">Home</a>
                </li>

                @for (category of categories(); track $index) {
                <li>
                    <a [routerLink]="'category/' + category" routerLinkActive="header__link--active"
                        class="header__link">{{category}}</a>
                </li>
                }
            </ul>
            }
        </nav>

        <div class="header__actions">
            <button class="header__button" (click)="toggleOpenCart()">
                <lucide-angular [img]="ShoppingCartIcon" [size]="20"></lucide-angular>
            </button>
            <button [ngClass]="{'header__button--active': isMenuActive}" class="header__button header__button--menu" (click)="toggleMenu()">
                <lucide-angular [img]="MenuIcon" [size]="20"></lucide-angular>
            </button>
        </div>
    </div>
    <purchase-shopping-cart [isVisible]="isCartOpen" (close)="toggleOpenCart()"></purchase-shopping-cart>
</header>

<main class="content">
    <div class="content__container">
        <router-outlet />
    </div>
</main>