<label class="input">
    @if (label) {
    <header class="input__label">
        <span class="input__label-text">{{ label }}</span>
        @if (isRequired) {
        <span class="input__required">*</span>
        }
    </header>
    }

    <div class="input__container" [class.input__container--error]="showError">
        <input [name]="name" [formControl]="control" [placeholder]="placeholder" [type]="currentType"
            [readonly]="readOnly" class="input__box" />

        @if (type === 'password') {
        <button type="button" class="input__toggle-password" (click)="togglePasswordVisibility()">
            @if (!isPasswordVisible) {
            <lucide-angular size="16" class="input__icon" [name]="PasswordIcon" />
            }
            @else {
            <lucide-angular size="16" class="input__icon" [name]="NotPasswordIcon" />
            }
        </button>
        }
    </div>

    @if (showError) {
    <footer class="input__error" @errorMessage>
        {{ control.errors | errorMessage }}
    </footer>
    }
</label>