@if (categoryId()) {

<section class="category" [@fadeIn]="categoryId()">
    <header class="category__header">

        <h1 class="category__title">{{categoryId()}}</h1>
        <p class="category__description">Explore our selection of products carefully chosen for you. Find quality,
            style, and fair prices in every category</p>
    </header>


    <div class="category__grid">
        @for (product of products; track $index) {
        <purchase-product [product]="product"></purchase-product>
        }
    </div>
</section>
}