:host {
    width: var(--width);
    outline: none;
}

.button {
    padding: 8px 18px;
    border-radius: 32px;
    font-weight: var(--font-weight-medium);
    cursor: pointer;
    color: var(--white-950);
    font-size: .875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    width: var(--width);
    outline: 2px transparent solid;
    outline-offset: 4px;
    text-wrap: nowrap;
    transition: background-color .2s ease, outline-color .15s ease;

    &[disabled] {
        cursor: not-allowed;
    }

    &:focus-visible {
        outline-color: var(--orange-500);
    }

    &--action {
        background-color: var(--orange-500);

        @media (hover:hover) {
            &:hover {
                background-color: var(--orange-400);
            }
        }
    }

    &--square {
        background-color: color-mix(in srgb, var(--orange-500) 10%, transparent);
        ;
        border: solid 1px var(--orange-500);
        color: var(--orange-500);
        backdrop-filter: blur(2px);

        @media (hover:hover) {
            &:hover {
                background-color: color-mix(in srgb, var(--orange-500) 20%, transparent);
            }
        }
    }

    &--outline {
        outline: solid 1px var(--neutral-800);
        outline-offset: -1px;
        color: var(--neutral-800);

        @media (hover:hover) {
            &:hover {
                background-color: var(--neutral-50);
            }
        }


        &:focus-visible {
            background-color: var(--neutral-50);
            outline-color: var(--neutral-800);
        }

    }

    &--danger {
        background-color: var(--red-500);
        color: var(--white-900);


        @media (hover:hover) {
            &:hover {
                background-color: var(--red-400);
            }
        }

        &:focus-visible {
            outline-color: var(--red-500);
        }
    }

    &--success {
        background-color: var(--green-500);
        color: var(--white-900);


        @media (hover:hover) {
            &:hover {
                background-color: var(--green-400);
            }
        }

        &:focus-visible {
            outline-color: var(--green-500);
        }
    }
}